#old {
    font-size: 150px;
    font-family: "Papyrus";
    font-weight: bold;
}

#tech {
    font-size: 150px;
    font-variant: small-caps;
    font-family: "Courier New";
    color: #ffff00;
}

.home {
    margin-top: 200px;
}





