@(artifacts : List[ArtifactTable], unit : Unit)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Artifacts</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/lib/popper.js/umd/popper.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col-12 " >
        <div class="media border p-2 bg-light text-center">
            <div class="media-body">
                <h1><b>Unit @unit.getAreaLetter-@unit.getUnitNumber</b></h1>
                <h4><b>FSN:</b> @unit.getFieldSiteNumber</h4>
                <h4>@unit.getStartDepth - @unit.getEndDepth cmbd</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-2 bg-secondary">
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
                <a class="btn btn-block btn-info" type="button" href="/">Home</a>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
                <a class="btn btn-info btn-block" type="button" href="/unittable">Units</a>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
                <a class="btn btn-info btn-block" type="button" href="/newunit">New Unit</a>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7">
                <a class="btn btn-block btn-info" type="button" href="/newartifact">Go Back</a>
            </div>
            <div class="col-3"></div>
        </div>


    </div>
    <div class="col-10">
        <form>
            @helper.CSRF.formField
            <table class="table table-striped">
                <thead class="sticky-top bg-white text-secondary">
                <tr>
                    <th>LSN</th>
                    <th>ASN 1</th>
                    <th>ASN 2</th>
                    <th>ASN 3</th>
                    <th>Quantity</th>
                    <th>Weight(g)</th>
                    <th>Date Analyzed</th>
                    <th>Image</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @for(artifact <- artifacts){
                <tr>

                    <td>@artifact.getLSNName</td>
                    <td>@artifact.getASN1Name</td>
                    <td>@artifact.getASN2Name</td>
                    <td>@artifact.getASN3Name</td>
                    <td>@artifact.getQuantity</td>
                    <td>@artifact.getWeight</td>
                    <td>@artifact.getDateAnalyzed</td>
                    <td><a href="/artifactimage/@artifact.getArtifactId">
                        @artifact.getImageKey</a></td>
                    <td>
                        <a href="/editartifact/@artifact.getArtifactId">EDIT</a>
                    </td>

                </tr>
                }
                </tbody>
            </table>
        </form>
    </div>
</div>
</div>
</body>
</html>