<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/homepage.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/lib/popper.js/umd/popper.min.js"></script>

</head>
<body class="home">
<div class="container-fluid">
    <div class="media border p-3 bg-secondary">
        <img class="align-self-center mr-3" src="/assets/images/pyramid.jpg" height="350">
        <div class="media-body ">
            <br>
            <br>
            <div class="row">
                <div class="col-12">
                    <h1><span id="old">Archaeo</span><span id="tech">Logic</span></h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <a class="btn btn-warning btn-block" href="/newunit">New Database Entry</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-warning btn-block" href="/unittable">Explore Database</a>
                </div>
                <div class="col-3">
                    <a class="btn btn-warning btn-block" style="text-centered" href="/charts">Report Tools</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            &nbsp;
        </div>
    </div>
</div>

</body>
</html>